/* start global rules */
*
{
    --moz-box-sizing: border-box;
    --webkit-box-sizing: border-box;
     box-sizing: border-box;
}
:root
{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transation-duration:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --section-background-color:#ececec
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

.container
{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
 /* small */
 @media (min-width: 768px) {
     .container{
         width: 750px;
     }
 }
/* medium */
 @media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
.main-title 
{
 margin: 0px auto 80px;
 border: 2px solid black;
 width: fit-content;
 padding: 10px 20px;
 font-size: 30px;
 position: relative;
 z-index: 1;
 transition: var(--main-transation-duration);
 position: relative;
}
.main-title::before
{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}
.main-title::after
{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.main-title:hover::before
{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
   
}
.main-title:hover::after
{
    z-index: -1;
    animation:  right-move 0.5s linear forwards;
     
}

.main-title:hover
{
    border: 2px solid white;
    color: white;
    transition-delay: 0.5s;
    animation: main-title-top 2.5s linear forwards;
    position: relative;
    
}




/* end global rules */

/* start header */

.header
{
    position: relative;
    background-color:white;
    box-shadow: 0 0 10px #ddd;
    --moz-box-shadow: 0 0 10px #ddd;
    --webkit-box-shadow:  0 0 10px #ddd;

}
@media (max-width:767px) {
    .header 
    {
        height: 65px;
        box-shadow: 0 0 6px #ddd;
        --moz-box-shadow: 0 0 6px #ddd;
        --webkit-box-shadow:  0 0 6px #ddd;
    
    
    }
}

.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;


}
.header .logo
{
    font-size: 26px;
    color: var(--main-color);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight:800;
    letter-spacing: 2px;
   
}
@media (max-width:767px) {
    .header .logo
    {
        width: 100%;
        height: 35px;
        font-size: 20px;

    
    }
}
.header .main-nav
{
display: flex;
}
.header .main-nav > li:hover .mega-menu
{
    opacity: 1;
    z-index: 100;
    top:calc(100% + 1px);
}
@media (max-width:767px) {
    .header .main-nav
    {
        margin: auto;
    
    }
}
.header .main-nav > li > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    color: black;
    padding: 0 30px;
    position: relative;
    transition: var(--main-transation-duration);
    overflow: hidden;

}

@media (max-width:767px) {
    .header .main-nav > li > a
    {
        padding: 10px;
        height: 30px;
        font-size: 14px;
       
    
    }
}
.header .main-nav > li > a::before
{

    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 4px;
    width: 100%;
    top: 0;
    left: -100%;
    transition: var(--main-transation-duration);
}
.header .main-nav > li > a:hover
{
    background-color: #fafafa;
    color: var(--main-color);
}
.header .main-nav > li > a:hover::before
{
    left: 0;
}
 .header .mega-menu
 {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    z-index: -1;
    top: calc(100%);
    transition: top var(--main-transation-duration) , opacity var(--main-transation-duration);
    opacity: 0;
 }
 @media (max-width: 767px) {
    .header .mega-menu
    {
        flex-direction: column;
        gap: 0;
        padding:7px ;

    }
     
 }



.header .mega-menu .image img
{
    max-width: 100%;
}
@media (max-width:991px) {
    .header .mega-menu .image
    {
        display: none;
    }
}

.header .mega-menu .links
{
    min-width: 240px;
    flex: 1;

}
 
.header .mega-menu .links li
{
    position: relative;

}

.header .mega-menu .links li:not(:last-child)
{
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child
{
    border-bottom: 1px solid #e9e6e6;
}
    
} 
.header .mega-menu .links li::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fafafa;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transation-duration);



}
.header .mega-menu .links li:hover:before
{
    width: 100%;
}
.header .mega-menu .links li a
{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight:700;



}
.header .mega-menu .links li a i
{
margin-right: 10px;
}




/* end header */

/* start landing   */
.landing-page
{
position: relative;
}
.landing-page::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing-page .container{
    min-height: calc(100vh - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing-page .text{
    
    flex: 1;
}
@media (max-width:991px) {
     .landing-page .text  
    {
        text-align: center;
    }
    
}
.landing-page .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width:767px) {
    .landing-page .text h1
   {
      font-size:28px ;
   }
   
}
.landing-page .text p{
    font-size: 22px;
    margin: 5px 0 0;
    line-height: 1.6;
    opacity: 0.8;
    max-width: 500px;
}
@media (max-width:991px) {
    .landing-page .text p 
   {
     margin:10px auto;
   }
   
}
@media (max-width:767px) {
    .landing-page .text p
   {
      font-size:18px ;
   }
   
}
.landing-page .image img
{
    width: 600px;
   animation:ana-up-down 5s linear infinite;
   position: relative;
}
@media (max-width:991px) {
    .landing-page .image  
    {
        display: none;
    }
    
}
.landing-page .go-down{

    color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 30px;
    transition: var(--main-transation-duration);
}
.landing-page .go-down:hover{
color: var(--main-color-alt);
}
.landing-page .go-down i{

   animation: bouncing 1.5s infinite; 
   
    
}
/* end landing   */

/* start articles section style   */
.articles 
{
padding-top:var(--main-padding-top) ;
padding-bottom:var(--main-padding-bottom) ;
position: relative;
}
.articles .container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
    gap: 40px;

}
.articles .box 
{
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    --moz-box-align: 0 2px 15px rgba(0,0,0,0.1);
    --webkit-box-shadow:0 2px 15px rgba(0,0,0,0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    transition: transform var(--main-transation-duration), box-shadow var(--main-transation-duration);

}
.articles .box:hover
{
    transform:translateY(-12px);
    box-shadow: 0 2px 15px rgba(0,0,0,20%);
    --moz-box-align: 0 2px 15px rgba(0,0,0,20%);
    --webkit-box-shadow:0 2px 15px rgba(0,0,0,20%);

}
.articles .box img 
{
    max-width: 100%;
} 
.articles .box .content
{
    padding: 20px;

}
.articles .box .content h3
{
  margin: 0;
}
.articles .box .content p
{
    margin: 10px 0 0 0;
    color: #777;
    line-height: 1.5;

}
.articles .box .info
{
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.articles .box .info a
{
   color: var(--main-color); 
   font-weight: bold;
}
.articles .box .info i 
{
    color: var(--main-color); 

}
.articles .box:hover .info i 
{
    animation: moving-arrow 0.6s linear infinite;

}








/* End articles section style   */

/* start gallery section    */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
  }
  .gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
  }
  .gallery .box .image {
    position: relative;
    overflow: hidden;
  }
  .gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
  }
  .gallery .box .image:hover::before {
    animation: flashing 0.7s;
  }
  .gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
  }
  .gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
  }

/* end gallery section    */


/* strat features section    */
.features
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.features .container 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}
.features .box 
{
    text-align: center;
    border: 1px solid #ccc;
     
} 
.features .box .img-holder
{
    position: relative;
    overflow: hidden;

}
.features .box .img-holder::before
{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}
 .features .box .img-holder::after
 {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
 }


  
  .features .box .img-holder img {
    max-width: 100%;
  }
  .features .box:hover .img-holder::after
  {
    border-width: 170px 500px 170px 0px;


  }
  .features .box h2
  {
      position: relative;
      width: fit-content;
      font-size: 40px;
      margin: auto;

  }
  .features .box h2::after
  {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 15px;
      height: 5px;
      
      width: calc(100% - 30px);
  }
  .features .box p
  {
    line-height: 2;
    font-size: 20px;
    margin: 20px 0;
    padding: 20px;
    color: #777;

  }
  .features .box  a
  {
    display: block;
    margin: 0 auto 30px;
    border: 2px solid transparent;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    transition: var(--main-transation-duration);
  }


  .features .quality .img-holder::before
  {
    background-color:#f44036 ;
    opacity: 0.6;
  }
   
  .features .quality a
  {
      color: #f44036;
      border-color: #f44036 ;
  }
  .features .time .img-holder::before
  {
    background-color:rgb(0 150 136 / 60%) ;
     
  }
  .features .time h2::after
  {
    border-color: rgb(0 150 136 ) ;
  }
  .features .time a
  {
      color: rgb(0 150 136 );
      border-color: rgb(0 150 136 ) ;
  }

  .features .passion  .img-holder::before
  {
    background-color:  rgb(3 169 244 / 60%);
     
  }
  .features .passion  h2::after
  {
    border-color: rgb(3 169 244 ) ;
  }
  .features .passion  a
  {
      color: rgb(3 169 244 );
      border-color: rgb(3 169 244 ) ;
  }

  .features .quality a
  {
    color: #f44036;
    border-color:  #f44036;
    background: linear-gradient(to right ,  #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .time a
  {
    color: rgb(0 150 136 );
    border-color:  rgb(0 150 136 );
    background: linear-gradient(to right ,  rgb(0 150 136 ) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .passion a
  {
    color: rgb(3 169 244 );
    border-color:  rgb(3 169 244 );
    background: linear-gradient(to right ,  rgb(3 169 244 ) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
.features .box:hover a
  {
      background-position: left bottom;
      color: white;
      z-index: -1;
  }
/* end features section    */


/* start testimonials section  */

.testimonails
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background-color);
}
.testimonails .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

}
.testimonails .box 
{
   padding: 20px;
   position: relative;
   border-radius: 6px;
   box-shadow: 0 2px 4px rgba(0 0 0 /0.07);
   background-color: white;
}
.testimonails .box img
{
 position: absolute;
 top: -50px;
 right: -10px;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 border: 10px solid var(--section-background-color);
}
.testimonails .box h3
{
    margin: 0 0 10px;
    color: var(--main-color-alt);
}
.testimonails .box .title 
{
    color: #777;
    margin-bottom: 10px;
    display: block;
}
 
.testimonails .rate .filled
{
    color: #ffc107;


}
.testimonails .box p
{
    color: #777;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* end testimonials section  */


 /* start teammember section  */
 .team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .team .box {
    position: relative;
  }
  .team .box::before,
  .team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transation-duration);
  }
  .team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
  }
  .team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
  }
  .team .box:hover::after {
    width: calc(100% - 60px);
  }
  .team .box .data
  {
      display: flex;
      align-items: center;
      padding-top: 60px;
  }
 .team .box  .data img
 {
     width: calc(100% - 60px);
     transition: var(--main-transation-duration);
     border-radius: 10px;
 }
 .team .box:hover img 
 {
     filter: grayscale(100%);
 }
 .team .box .data .social
 {
     width: 60px;
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 20px;
 }
 .team .box .data .social a 
 {
     width: 60px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
   
  

 } 
 .team .box .data .social a:hover i
 {
     color: var(--main-color);
 }
 .team .box .data .social i
 {
     color: #777;
     transition: var(--main-transation-duration);
  
 }
 .team .box .info 
 {
     padding-left: 80px;
 }
 .team .box .info  h3
 {
     margin-bottom: 0;
     font-size: 22px;
     color: var(--main-color-alt);
     transition: var(--main-transation-duration);
 }
 .team .box .info p
 {
     margin-top: 10px;
     margin-bottom: 25px;


 }
 .team .box:hover .info h3 
 {
     color: #777;
 }

 /* end teammember section  */



/* start animation    */
@keyframes ana-up-down{

    0% , 100%
    {
        top: 0;
    }
    50%
    {
     top: -40px;

    }
    
}  
@keyframes bouncing {
    0%,10%,20%,50%,80% ,100%
    {

        transform: translateY(0);

    }
   40%,60%
    {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
   50%
   {

       left: 0;
       width: 12px;
       height: 12px;
   }
   100%
   {
       left:0;
       width:50%;
       height:100%;
       border-radius: 0;
   } 

}
@keyframes right-move {
    50%
    {
 
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%
    {
        right:0;
        width:50%;
        height:100%;
        border-radius: 0;
    } 
 
 }

@keyframes  main-title-top {
    0%,10%,20%,50%,80% ,100%
    {

        transform: translateX(0);

    }
   40%,60%
    {
        transform: translateX(-15px);
    }
 }

 @keyframes moving-arrow 
 {
     100%
     {
         transform: translateX(10px);
     }

 }

 @keyframes flashing
 {
     0% ,40%
     {
         opacity: 1;
     }
     100%
     {
         opacity: 0;
         width: 200%;
         height: 200%;

     }

 }
/* end animation    */